.header {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.button {
    font-family: 'Open Sans' !important; sans-serif;
    margin: 20px;
}

#wrapper {
    text-align: center;
}