body {
    text-align: center;
}

.header {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.hint {
    cursor: help;
}

.hint-label {
    font-family: 'Open Sans' !important;
}

.button {
    font-family: 'Open Sans' !important;
    margin-top: 20px;
    width: 140px;
}

.submit-button {

}